body{
    font-family: Quicksand,sans-serif;
}
a{
    font-family: Quicksand,sans-serif;
}

.animation{
  
    animation-name: pulse;
   
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes pulse {
    0%   {transform: translate(0rem, 4rem);}

  50%  {transform: translate(40rem, 4rem);}
  100%{transform: translate(0rem, 4rem);}
 
    
  }

  .scene,
canvas {
  position: absolute;
  width: 100%;
  height: 100%;

}