<style>
    x-model {
      animation: 5s spin linear infinite;
    }
  
    @keyframes spin {
      to {
        transform: rotateY(1turn);
      }
    }
  </style>
  
  <x-model src="./creeper/scene.gltf"></x-model>

  <script>

const createModelElement = (url, x=0, y=0, z=0) => {
  let model = document.createElement('x-model');
  model.setAttribute('src', url);
  model.style.transform = 'translate3d(${x}px, ${y}px, ${z}px)';
  return model;
}

let modelElem = createModelElement('model.glb', -100, -100, -100);

sceneElem.appendChild(modelElem);  
  </script>